PORT=5004
DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_MODEL=deepseek-chat
UPSTASH_VECTOR_REST_URL=
UPSTASH_VECTOR_REST_TOKEN=
KAFKA_BROKERS=localhost:9092
HF_TOKEN=
POLLINATIONS_ENABLED=true
